.wrapper {
  margin-top: 100px;
}

.navbar, .col-md-12 {
  margin: 0 0 15px 0;
}

.small-text {
  font-size: 12px!important;
}

.grey-small-text {
  font-size: 12px!important;
  color: grey!important;
}
